{% extends 'adminbase.html.twig' %}
{% block title %}Ayarlar
{% endblock %}
{% block body %}
	<div class="app-container">
		<!-- begin app-nabar -->

		<!-- end app-navbar -->
		<!-- begin app-main -->
			<div
			class="app-main" id="main"> <!-- begin container-fluid -->
			<div
				class="container-fluid">
				<!-- begin row -->
				<div class="row">
					<div
						class="col-md-12 m-b-30">
						<!-- begin page title -->
						<div class="d-block d-sm-flex flex-nowrap align-items-center">
							<div class="page-title mb-2 mb-sm-0">
								<h1>Ayarlar</h1>

							</div>
							<div class="ml-auto d-flex align-items-center">
								<nav>
									<ol class="breadcrumb p-0 m-b-0">
										<li class="breadcrumb-item">
											<a href="/admin/">
												<i class="ti ti-home"></i>
											</a>
										</li>
										<li class="breadcrumb-item">
											Index
										</li>
										<li class="breadcrumb-item active text-primary" aria-current="page">Ayarlar</li>
									</ol>
								</nav>
							</div>
						</div>
						<!-- end page title -->


					</div>

				</div>
				<!-- end row -->

				<!--start contact contant-->

				<div class="row">


					<table class="table table-light mb-0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Company</th>
								<th>Email</th>
								<th>Status</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for setting in settings %}
								<tr>
									<td>{{ setting.id }}</td>
									<td>{{ setting.title }}</td>
									<td>{{ setting.company }}</td>
									<td>{{ setting.email }}</td>
									<td>{{ setting.status }}</td>
									
									<td>
										<a class="btn btn-primary" href="{{ path('admin_setting_show', {'id': setting.id}) }}">show</a>
										<a class="btn btn-warning" href="{{ path('admin_setting_edit', {'id': setting.id}) }}">edit</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
								<a class="btn btn-info" href="{{ path('admin_setting_new') }}">Create new</a>
							{% endfor %}
						</tbody>
					</table>

					

				</div>

				<!--end contact contant-->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end app-main -->
	</div>
{% endblock %}
